.AS22{/*星星灰底*/
	width:300px;height:auto;
	/*padding-bottom:5%;*/
	background-color:#e2e2e2;
	text-align:left;
	display:inline-block;
}
#evaAS_2{
	background-color:white;
	/*margin-top:20px; */
}

#ASB_2{/*滑動的星星*/
	width:0px;height:auto;
	/*padding-bottom:5%;*/
	background-color:#fee61b;

}
#ASC_2{/*點擊的星星*//*圖片高多少 要一樣*/

	width:0px;height:55px;
	/*padding-bottom:5%;*/
	background-color:#fee61b;
	
}

.AS_2_2{/*星星的圖片*/
	width:300px;height:100px;
	background-image:url('../images/st.png');
	background-size:contain;
	background-repeat:no-repeat;
	z-index:199; 
	display: inline-block;
	position:relative;
}
#AS_2-2_2{
	display: inline-block;
	position: absolute;
	
	/*height: 55px;
    width: 300px;*/
}
.AS_3_2{
	width:100%;height:auto;
	position: absolute;
	display: inline-block;
	text-align:left;

	/*text-align:center;*/
	font-size: 0; /*用label會造成每個div有間距，用此方法解決*/
}
.star1_2{ /*前半顆的星星*/
	width:26px;height:58px;
	display: inline-block;
	/*background-color:black;*/
	margin-left:6.4px; 
	 
}
.star1_2:hover{
	/*background-color:green;*/
	cursor:pointer;
}

.star2_2{ /*後半顆的星星*/
	width:26px;height:58px;
	display: inline-block;
	/*background-color:black;*/
	margin-right:1.2px;
}
.star2_2:hover{
	/*background-color:green;*/
	cursor: pointer;
}

#SS5_2{
	margin-left:7px;
}
#SS9_2{
	margin-left:7.7px;
}

/*.star1:hover .ASB{
	width:200px;
}*/



/*input[type="radio"]:checked+div {
			background-color:green;
		}*/

.none_2{
	display:none;
}




